USE [master]
GO
/****** Object:  Database [Subasta]    Script Date: 06/09/2019 12:15:21 p. m. ******/
CREATE DATABASE [Subasta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Subasta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Subasta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Subasta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Subasta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Subasta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Subasta]
GO
USE [Subasta]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 06/09/2019 12:15:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[IdArt] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[PreIni] [decimal](16, 0) NULL,
	[PreOfre] [decimal](16, 0) NULL,
	[Imagen] [varbinary](max) NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [varchar](30) NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdArt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06/09/2019 12:15:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Nombre] [varchar](30) NULL,
	[Apellidos] [varchar](30) NULL,
	[Contrase] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulos]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
USE [master]
GO
